
.mapContainer {
  width: 100%;
  height: 100%;
}
  
.map {
  width: 100%;
  height: 100%;
}

.filterPanel {
  position: absolute;
  top: 100px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: black;
}
