
.mapContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}
  
.map {
  width: 100%;
  height: 100%;
}

.filterPanel {
  position: absolute;
  top: 100px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: black;
}

.checkedInput{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  
}

.nearestShelterInfo{
  position: absolute;
  z-index: 999999;
  color: black;
  bottom: 100px;
  background-color: rgb(255, 255. 255);
  background-color: white;
  font-size: 17px;
  left: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.customRoutingContainer {
  position: fixed;
  top: 10px;
  right: 20px;
  top: 100px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  z-index: 1000;
  color: black;
}

.showFiltersButton{
  display: none;
}


@media screen and (max-width: 700px) {
  .showFiltersButton{
    display: block;
    background-color: white;
    color: black;
    border: 0;
  }

  .openedFiltersButton{
    border: 1px solid black;
    padding: 5px;
  }
}

